@media (max-width: 1500px) {
    i.ncare {
        font-size: 10em !important;
    }

    h2.ncare {
        margin-bottom: 1rem !important;
    }
}

/*@media (max-width: 1390px), (max-height: 760px) {
    #wrapper {
        width: 50vw;
        height: 35vh;
        padding: 60px 80px 100px;
        background-color: whitesmoke;
        border-radius: 10px;
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 20vh auto;
    }

    #wrapper button {
        padding: 0.25rem 0.5rem;
        font-size: 0.875rem;
        line-height: 1.5;
        border-radius: 0.2rem;
    }
}*/

@font-face {
    font-family: 'Roboto-regular';
    src: url(fonts/Roboto-Regular.ttf);
}

table.ncare th {
    vertical-align: middle;
}

#wrapper {
    width: 40vw;
    height: 300px;
    padding: 60px 80px;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 25vh auto;
}

i.ncare {
    font-size: 8em;
    color: #1A74B8;
}

h2.ncare {
    margin-bottom: 1.5rem;
}

#wrapper_banque {
    width: 50vw;
    height: 400px;
    padding: 40px 80px;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 20vh auto;
}

#retour {
    position: relative;
    top: 1vh;
    left: 0.5vw;
}

.w-6 {
    width: 6% !important;
}

.w-8 {
    width: 8% !important;
}

.w-10 {
    width: 10% !important;
}

.w-12 {
    width: 12% !important;
}

.force-to-bottom {
    background: grey; height: 50px;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.cadre {
    border: #DEE2E6 solid 1px;
    border-radius: 4px;
}

.insetshadow {
    color: #0096d3;
    background-color: whitesmoke;
    letter-spacing: 0.1em;
    text-shadow: -1px -1px 1px white, 2px 2px 1px rgba(0, 0, 0, 0.1);
    font-weight: bolder;
}

.retroshadow {
    color: #1b70b6;
    background-color: #fff;
    letter-spacing: 0.05em;
    text-shadow: 4px 4px 0 #e6e6e6, 3px 3px 0 rgba(0, 0, 0, 0.2);
}

input.ncare {
    background-color: #fff !important;
}

.fixed_header tbody {
    /*display: block;*/
    width: 100%;
    overflow-y: scroll;
    height: 350px;
}